<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>

{% if person %}
    <table>
        <td width="200px">
            Name: {{ person.name }} <br>
            Last name: {{ person.surname }} <br>
            Birth date: {{ person.birth_date }} <br>
            Bio: <br>
            {{ person.bio }}
        </td>
        <td>
            Skype: {{ person.skype }} <br>
            e-mail: {{ person.email }} <br>
            Phone: {{ person.phone }} <br>
        </td>
    </table>
{% else %}
    <p>No available info.</p>
{% endif %}

</body>
</html>